:root {
    --text-color: rgba(10, 48, 66, 1);
    --primary-color: #FAFCFF;
    --primary-bg-color: #EFF6FF;
    --footer-color: #D9E4F3;
    --bl-color1: rgba(108, 99, 255, 1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

i {
    font-family: FontAwesome !important;
    color: #000000;
    font-style: normal;
    margin: 5px;
}

section {
    width: 100%;
}

picture {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--primary-color);
    color: var(--text-color);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

footer {
    padding: 30px;
    background: var(--footer-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.pb {
    padding-bottom: 80px;
}

@media only screen and (min-width: 984px) {
    .footer-content {
        width: 85vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row wrap;
        margin: auto;
    }
    .footer-content div span:nth-child(1) {
        padding-right: 30px;
    }
}

.footer-content div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 984px) {
    .footer-content div {
        margin-top: 20px;
    }
}

.embed-container {
    overflow: hidden;
}

.btn-cover {
    background-color: var(--text-color);
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid var(--text-color);
}

.btn-cover:hover {
    background-color: white;
    color: var(--text-color);
}

.container {
    max-width: 100vw;
    margin: 0 auto;
}

.logo-box {
    display: flex;
}

#header {
    background: var(--primary-color);
    /* box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1); */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

#header-img {
    margin-left: 20px;
    float: left;
    width: 120px;
    height: 45px;
    margin-top: 15px;
    margin-bottom: 10px;
}

@media only screen and (min-width: 984px) {
    .contain-head {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-flow: nowrap;
    }
    #bl-logo {
        content: url(assests/logo/black-logo-transparent2x.png);
    }
}

@media only screen and (max-width: 984px) {
    #bl-logo {
        content: url(assests/logo/icon-black-fg2x.png);
    }
}

.anim-area {
    width: auto !important;
    height: auto !important;
    overflow: hidden;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.header-img-bl {
    padding-left: 10px;
    float: left;
    height: 70px;
    padding-top: 15px;
    padding-bottom: 10px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.img-border {
    border-right: 2.5px solid rgba(0, 0, 0, 0.7);
}

nav ul {
    overflow: hidden;
    clear: both;
    margin: 0;
    padding: 0;
    max-height: 0px;
    transition: max-height .2s ease-out;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    font-size: 1.15;
    text-decoration: none;
    color: var(--text-color);
    padding: 10px;
}

a.highlight {
    display: block;
    font-size: 1.15;
    text-decoration: none;
    color: white;
    padding: 10px;
}

/*TEST*/

/* Dropdown */

.dropbtn {
    color: var(--text-color);
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.1em;
}

.dropbtn i {
    font-size: 0.9em;
    margin-left: 0;
    color: var(--text-color);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 98;
    max-height: 0;
    min-width: 160px;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}

.dropdown-content a {
    color: var(--text-color);
    background-color: #f9f9f9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #e2e2e2;
}

.dropdown:hover .dropdown-content {
    max-height: 500px;
    min-width: 160px;
    transition: max-height 0.25s ease-in;
}

.dropdown:hover .dropbtn {
    background-color: #f9f9f9;
    border-bottom: 1px solid #e0e0e0;
    transition: max-height 0.25s ease-in;
}

/* menu icon */

.menu {
    margin-left: 15px;
}

#header .menu-icon {
    cursor: pointer;
    padding: 28px 20px;
    user-select: none;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}

#header .menu-icon .nav-icon {
    background: var(--text-color);
    display: block;
    height: 3px;
    position: relative;
    top: 10px;
    transition: background .2s ease-out;
    width: 30px;
}

#header .menu-icon .nav-icon:before, #header .menu-icon .nav-icon:after {
    background: var(--text-color);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

#header .menu-icon .nav-icon:before {
    top: 6px;
}

#header .menu-icon .nav-icon:after {
    top: -6px;
}

/* menu btn */

#header .menu-btn {
    display: none;
}

#header .menu-btn:checked~.menu {
    max-height: 240px;
}

#header .menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
}

#header .menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

#header .menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

@media only screen and (min-width: 984px) {
    .contain-head {
        width: 85vw;
        margin: auto;
    }
    .btn-cover {
        margin-top: -8px;
    }
    .menu-container {
        max-width: 100vw;
    }
    #header-img {
        height: 50px;
        width: 150px;
    }
    .header-img-bl {
        margin-top: 10px;
        padding-left: 20px;
        height: 60px;
        width: 200px;
    }
    .menu {
        margin-top: 20px;
        margin-right: -20px;
    }
    nav {
        margin-right: 20px;
    }
    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        max-height: 70px;
        overflow: visible;
    }
    nav ul li {
        float: left;
        list-style: none;
        padding: 0.5em 1em;
    }
    nav ul li:last-child {
        padding-right: 0px;
    }
    nav ul li a {
        font-size: 1.1em;
        text-decoration: none;
        /* color: #333; */
        padding: 0;
    }
    a.highlight {
        font-size: 1.3em;
        text-decoration: none;
        /* color: #333; */
        padding: 0.5em 1em;
    }
    #header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    #header .menu-icon {
        display: none;
    }
    #header {
        height: 70px;
    }
}

/*header ends*/

main {
    display: flex;
    flex-flow: column-reverse;
    color: var(--text-color);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding-top: 70px;
}

.main-content-section {
    display: flex;
    flex-flow: column-reverse;
    color: var(--text-color);
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
}

.reverse-column {
    flex-flow: column;
}

.hero {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.hero-title-primary {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

.hero-title-sub {
    margin: 0.5em 0 1em 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

.hero-image {
    margin-top: 0;
    margin-bottom: 0;
}

.hero-section {
    margin-top: auto;
    margin-bottom: auto;
}

.main-content-section .hero-title-primary {
    font-size: 2em;
    font-weight: 600;
}

.main-content-section .hero-title-sub {
    font-size: 1.3em;
    font-weight: 500;
}

.main-content-section h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

figure {
    text-align: center;
}

figure img {
    margin: 3em auto 0;
    width: 80vw;
}

.bl-colors {
    color: var(--bl-color1);
}

.main-content-section-image figure img {
    width: 60vw;
}

.main-content-section-text {
    margin: auto;
}

@media only screen and (min-width: 984px) {
    .main-content-section-image figure img {
        width: 30vw;
    }
    main {
        flex-flow: row;
    }
    .main-content-section {
        flex-flow: row;
    }
    .hero {
        text-align: left;
    }
    .hero h1 {
        font-size: 4em;
        line-height: 70px;
    }
    .main-content-section .hero h1 {
        margin: 0;
        font-size: 2.7em;
        font-weight: 600;
        line-height: 55px;
    }
    .hero p {
        font-size: 1.3em;
        margin: 0.5em 0 1em 0;
        padding: 0;
    }
    figure img {
        width: 40vw;
        margin: 0;
    }
    .container {
        max-width: 85vw;
    }
    .hero-image {
        margin-top: auto;
        margin-bottom: auto;
    }
    .hero-section {
        margin-top: auto;
        margin-bottom: auto;
    }
}

/*main section ends*/

#video{
    border-radius: 10px;
}

.btn-learnmore {
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--bl-color1);
    width: 140px;
    border-radius: 5px;
    margin: auto;
    margin-top: 30px;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }

.video-content {
    padding-top: 80px;
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    background-color: var(--primary-bg-color);
}

.video-title {
    font-size: 2.5em;
    margin-bottom: 50px;
}

.video-subtitle {
    margin-top: -4px;
    color: #d3d3d3;
    margin-bottom: 20px;
}

iframe {
    height: 50vw;
    width: 91vw;
}

@media only screen and (min-width: 984px) {
    iframe {
        height: 33vw;
        width: 60vw;
    }
}

/*video section ends*/

.content {
    margin-bottom: 80px;
    background: var(--primary-color);
}

.user-container {
    padding: 100px 38px 10px 38px;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
}

.user-title {
    margin-bottom: 50px;
    font-size: 2rem;
    color: var(--text-color);
    align-self: center;
    font-weight: 600;
}

.user-img {
    border-radius: 50%;
    border: 1px solid red;
    width: 100px;
    margin: auto;
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }
}

@media only screen and (min-width: 984px) {
    .user-title {
        font-size: 2.5rem;
    }
}

/*card*/

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
    width: 100%;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 25%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 25%;
    }
}

@media only screen and (min-width: 984px) {
    .problem-section ul li:first-child {
        padding-left: 0px;
    }
    .problem-section ul li:last-child {
        padding-right: 0px;
    }
    .team-section ul li:first-child {
        padding-left: 0px;
    }
    .team-section ul li:last-child {
        padding-right: 0px;
    }
}

.card {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    padding: 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.card_content a {
    text-decoration: none;
    margin: 0;
}

.card_title {
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_image {
    display: flex;
    padding: 20px;
}

.card_text {
    color: black;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 500;
}

.card:hover {
    cursor: pointer;
}

.card img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.team-section {
    padding-top: 0px;
    padding-bottom: 100px;
    padding-left: 0px;
    padding-right: 0px;
    width: 85vw;
    margin: auto;
}

@media (min-width: 40rem) {
    .user-cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .user-cards_item {
        width: 25%;
    }
}

/* .problem-section .card{
    box-shadow: none;
} */

.problem-section .card .card_title {
    color: var(--text-color);
    font-size: 2rem;
}

.problem-section .card .card_text {
    color: var(--text-color);
    font-size: 1.5rem;
}

@media only screen and (min-width: 984px) {
    .problem-section .card .card_title {
        color: var(--text-color);
        font-size: 2rem;
    }
    .problem-section .card .card_text {
        color: var(--text-color);
        font-size: 1.5rem;
    }
}

/*icon colors*/

.fa-linkedin {
    color: #2867B2;
}

.fa-github {
    color: #6e5494;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

/*clouds*/

.background--clouds {
    background-position-y: bottom;
    background-repeat: repeat-x;
    width: 100%;
    height: 282px;
    background-image: url(./assests/images/img_bg_clouds.png);
}

@media screen and (max-width: 767px) {
    .background--clouds {
        height: 150px;
        background-size: cover;
    }
}

.problem-section {
    width: 85vw;
    margin: auto;
}

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(83, 83, 83);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(41, 41, 41);
}